
$mainBlack:#222;
$mainGreen:#82b340;
$mainWhite:#fff;
$mainGrey:#ececec;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}


body{
    background-color: $mainWhite;
    color:$mainBlack;
    font-family: 'Playfair Display', serif;
}
